Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Flask-CORS==4.0.0
Flask-JWT-Extended==4.4.4
PyMySQL==1.0.3
redis==4.5.5
minio==7.1.15
python-dotenv==1.0.0
gunicorn==20.1.0
marshmallow==3.19.0
bcrypt==4.0.1
Pillow==9.5.0 